GOOSE_DRIVER=postgres
GOOSE_DBSTRING=postgresql://postgres:password@localhost:5432/ciam
GOOSE_MIGRATION_DIR=/data/migrations
GOOSE_TABLE=migrations

POSTGRES_DSN=postgresql://postgres:password@localhost:5432/ciam
